<div class="card mb-4 mr-5">
  <div class="card-header">
    {{title}}
  </div>

  <div class="card-body">
    <div class="media">
      <img src={{picture}} class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <blockquote class="blockquote mb-0">
          <p>{{summary}}</p>

          <a type="button" class="btn btn-mysave" data-id={{id}}>Save Article</a>
          <a type="button" href={{link}} class="btn btn-myview">View Article</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>